# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
vendor/
.bundle/

# Ruby
*.gem
*.rbc
.config
coverage/
InstalledFiles
lib/bundler/man/

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
